---
<<<<<<< HEAD
const {img, alt, title, text, href, linkText} = Astro.props;
export interface Props {
  img: string;
  alt: string;
  title: string;
  text: string;
  href?: string;
  linkText?: string;
}
import 'bootstrap/dist/css/bootstrap.css'
---

<div class="card" style="width: 18rem;">
    <img src={img} class="card-img-top" alt={alt}>
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">{text}</p>
      <a href={href} class="btn btn-primary">{linkText}</a>
    </div>
  </div>
=======
interface Props {
	title: string;
	Data: string;
    img: string;
	
}

const { Data, title, img } = Astro.props;
---

<div class="contenedor"> <!-- Corregido aquí -->
    <div class="container-img">
        <img src={img} alt=""/>
    </div>
    <div>
        <h4>{title}</h4>
        <p>{Data}</p>
    </div>
</div>

<style>
    .contenedor { /* Corregido aquí */
        width: 250px;
        margin: 0 auto;
    }
    .container-img {
        height: 100%;
        width: 100%;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>
>>>>>>> 317fa96 (ss)
